@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');

body
{
    background-color:  #6A6A6A; 
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-size: 13px;
}

#sistema
{height: 500px; width: 1335px; background-color: #838383; z-index: 0;}

#carga
{
    position: absolute; 
    height: 100px; width: 180px;
    top: 340px; left: 825px; 
    background-color: #F48A4A;
}

#ordenamineto
{
    position: absolute; 
    height: 100px; width: 180px;
    top: 200px; left: 825px; 
    background-color: #EC70F0;
}

#estacionamiento
{
    position: absolute; 
    height: 300px; width: 200px;
    top: 170px; left: 1030px; 
    background-color: #555555;
}

#almacen
{
    position: absolute; 
    height: 300px; width: 530px;
    top: 170px; left: 500px; 
    background-color: #A0A0A0;
}

.rutas
{
    position: absolute;
    border: 1px solid #000000;
    margin: none;
    padding: none;
}

#ruta1
{
    width: 110px;
    top: 220px;
    left: 410px
}

#ruta2
{
    width: 110px;
    top: 220px;
    left: 250px
}

#ruta3
{
    width: 110px;
    top: 220px;
    left: 90px
}

#ruta4
{
    transform: rotate(90deg);
    width: 40px;
    top: 310px;
    left: 203px
}

#ruta5
{
    transform: rotate(90deg);
    width: 40px;
    top: 310px;
    left: 365px
}

#ruta6
{
    width: 680px;
    top: 144px;
    left: 385px
}

#ruta7
{
    transform: rotate(90deg);
    width: 200px;
    top: 245px;
    left: 964px
}

#ruta8
{
    transform: rotate(90deg);
    width: 40px;
    top: 165px;
    left: 364px
}

#cliente
{position: absolute; top: 200px; left: 40px;}

#creacion-orden
{position: absolute; top: 200px; left: 200px;}

#logistica
{position: absolute; top: 200px; left: 360px;}

#orden
{position: absolute; top: 200px; left: 530px;}

#distribucion
{position: absolute; top: 350px; left: 200px;}

#carguero
{position: absolute; top: 350px; left: 360px; z-index: 0;}

#mercancia
{position: absolute; top: 200px; left: 700px;}

#cajas
{position: absolute; top: 350px; left: 700px;}

#etiquetas
{color: #FFFFFF}

#seguimiento .seg
{color: #ffffff;}

#seguimiento .segRes
{color: #a0ff08;}

#ordGenLbl
{position: absolute; top: 90px; left: 50px;}
#ordGen
{position: absolute; top: 90px; left: 190px;}

#ordProLbl
{position: absolute; top: 110px; left: 50px;}
#ordPro
{position: absolute; top: 110px; left: 190px;}

#ordFinLbl
{position: absolute; top: 130px; left: 50px;}
#ordFin
{position: absolute; top: 130px; left: 190px;}

#etiquetas
{
    font-size: 20px;
    background-color: #2196F3;
    height: 300px;
    width: auto;
    display: flex;
}

#grid-contanier
{
    z-index: 1;
    padding: 1px;
    background-color: #000000;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 80px auto auto auto;
    grid-template-rows: 50px;
    overflow: scroll;
    max-width: 1000px;
    max-height: 500px;
    
}

.grid-item
{
    border: 1px solid #646464;
    text-align: center;
    margin: 0;
    background-color: #A0A0A0;
    line-height:  50px;;
}

#fila-1, #fila-2, #fila-3, #fila-4
{
    color: #ffffff;
}   

#chronometer
{
    position: absolute;
    top: 450px;
    left: 20px;
}

.modal-container
{
    z-index: 5;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    height: 100%;
    width: 100%;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;
}

.modal-container a
{
    background-color: #47a386;
    border: 0;
    border-radius: 5px;
    color: #ffffff;
    padding: 10px 25px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    font-size: 14px;
    cursor: pointer;
    position: absolute;
    top: 540px;
    left: 620px;
}

.modal-container.show
{
    pointer-events: auto;
    opacity: 1;
}

.modal
{
    height: 500px;
    width: 500px;
    border-radius: 5px;
    padding: 30px 50px;
    max-width: 100%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    background-color: #ffffff;
    text-align: center;
}

.modal h1
{
    margin: 0;
}